// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.l-header {
  background: $dark-grey;
  color: #fff;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  top: 0;

  .container {
    display: flex;
  }

  ul {
    display: flex;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
  }

  li:not(:last-child) {
    margin-right: 2rem;
  }

  a {
    @include on-event {
      color: #fff;
    }
  }

  &__brand {
    color: #fff;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.45;
    text-transform: uppercase;
  }

  &__nav {
    margin-left: auto;
  }
}
