// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.l-header {
  background: $dark-grey;
  color: #fff;
  display: flex;
  padding: 1rem;

  ul {
    display: flex;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
  }

  li:not(:last-child) {
    margin-right: 2rem;
  }

  a {
    @include on-event {
      color: #fff;
    }
  }

  &__brand {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 1.45;
  }

  &__nav {
    margin-left: auto;
  }
}
